<div *ngIf="currentUseProfile">
  <mat-card style="margin: 30px">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{currentUseProfile.name}}</mat-card-title>
      <mat-card-subtitle>{{currentUseProfile.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-two-way-slider></app-two-way-slider>
    </mat-card-content>
  </mat-card>
</div>
<!--  Profile Description -->



  <!--<table mat-table [dataSource]="localData" class="mat-elevation-z1" >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let e"> {{e.position}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let e"> {{e.name}} </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let e"> {{e.weight}} </td>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let e"> {{e.symbol}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>-->

