<div class="root-container">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2 no-padding" style="background-color:whitesmoke;">
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="onCreateButtonClicked($event)">Create new Screener</button>
    </div>
    <mat-nav-list>
      <div class="list-header"><b> Your Screeners</b></div>
      <div *ngFor='let item of screenerProfiles'>
        <a mat-list-item routerLinkActive="active-list-item" (click)="onScreenerClicked(item)" > {{item.name}} </a>
        <mat-divider> </mat-divider>
      </div>
    </mat-nav-list>
    </div>
  </div>

  <div class="left-container col-sm-9 col-md-6 col-lg-8" style="background-color:floralwhite;">
      <app-profile-table [activeProfile]= "activeProfile"></app-profile-table>
  </div>

<!--  side col display list of screeners-->


</div>
