.example-button-row {
  padding: 30px;
  position: center;
}
.row{
  min-height:100vh;
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.list-header{
  background-color: dimgrey;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: whitesmoke;
}
mat-divider {
  margin-left: 10px;
  margin-right: 10px;
}
